@page
@model AirBNBClone.Pages.Demo.Discounts.IndexModel
@{
}
@foreach (var obj in Model.objDiscountList)
{
    <p>Rental #<b>@obj.RentalId</b> offers <b>@obj.Percentage</b>% off when booking continuously for <b>@obj.Daycount</b> days</p>
}