.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh; /* Adjusted to shorten the height */
}

.amenities-list {
    list-style-type: none;
    padding: 0;
}

    .amenities-list li {
        display: inline;
    }

        .amenities-list li::after {
            content: ", ";
        }

        .amenities-list li:last-child::after {
            content: "";
        }

.custom-container {
    border-radius: 15px; /* Adds a curve to the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a box shadow */
    max-width: 90%; /* Adjusted to widen the width */
}

.rounded-image {
    border-radius: 15px; /* Adds a curve to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a box shadow to the image */
}
